<form action="/web/user/edit/<%= user.id %>" method="POST">
    <label for="username">Username</label>
    <input name="username" id="username" type="text" value="<%= user.username %>" />
    <label for="password">Password</label>
    <input name="password" id="password" type="text" value="<%= user.password %>" />
    <button type="submit" class="btn btn-success">Submit</button>
</form>
