<form action="/web/user/edit/<%= user.id %>" method="POST">
    <label for="name">Name</label>
    <input name="name" id="name" type="text" value="<%= user.name %>" />
    <label for="age">Age</label>
    <input name="age" id="age" type="number" value="<%= user.age %>" />
    <button type="submit" class="btn btn-success">Submit</button>
</form>
